build
include
lib
.vscode

examples/reductionVector
examples/transpositionMatrix
examples/reductionMatrix
examples/gradientMatrix
examples/taperMatrix

examples/perf_convolution1dMatrix
examples/perf_convolutionReduction1dMatrix
examples/perf_exclusiveScan1dVector
examples/perf_fftshift1dVector
examples/perf_gMatMul
examples/perf_gMatVecMul
examples/perf_gSpMatVecMulCSRAdaptive
examples/perf_gSpMatVecMulCSRVector
examples/perf_gSpMatVecMulELL
examples/perf_grad2dMatrix
