build
include
lib
.vscode
examples/reductionVector
examples/transpositionMatrix
examples/generalMatrixMultiplication
examples/reductionMatrix
examples/convolutionMatrix
examples/convolutionReductionMatrix
examples/generalMatrixVectorMultiplication
examples/generalSparseMatrixVectorMultiplicationCSRVector
examples/generalSparseMatrixVectorMultiplicationCSRAdaptive
